body {
  font-family: Arial, sans-serif;
  margin: auto;
  width: 100%;
  padding: 0;
  background-color: #E6D5B8;
  text-align: justify;
}

h1 {
  text-align: center !important;
}

h2 {
  text-align: center !important;
}

nav {
  display: flex;
  gap: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #6F4E37;
  margin: auto;
  padding-left: 15%;
}

footer {
  gap: 25px;
  background: #3E2723;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

nav a {
  color: #C4A484 !important;
  text-decoration: none;
}

footer a {
  color: #C4A484 !important;
  text-decoration: none;
}

nav h4 {
  padding-left: 10px;
  background: #6F4E37;
}

footer h4 {
  padding-left: 10px;
}

.page {
  padding-top: 50px;
}

img.logo {
  width: 140px;
}

img {
  width: 30%;
  border-radius: 10px;
  display: block;
  margin: auto;
}

footer {
  margin-top: 20px;
}

form {
  width: 50%;
  margin: auto;
}

div.description {
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}

h1 {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
  color: #3E2723;
}

h2 {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
  color: #3E2723;
}

h3 {
  width: 60%;
  margin: auto;
  color: #3E2723;
}

h5 {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
  color: #3E2723;
}

h6 {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
  color: #3E2723;
}

div.recharts-responsive-container {
  margin: auto;
}

p {
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 50px;
  color: #3E2723;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

button {
  text-align: center;
  margin: auto;
  display: block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.ResponsiveContainer {
  margin: auto !important;
  width: 50% !important;
  border: 3px solid green;
  padding: 10px;
}